@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movies at your fingertips</h1>
    <p class="lead">An online video rental store just a click away from you...</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4 class="card-header">Awsome Movies Catalog</h4>
        <p class="card-body">Movies right out-of-the-box just for you.</p>
    </div>
    <div class="col-md-4">
        <h4 class="card-header">Exciting Membership Plans</h4>
        <div class="card-body">
            <p>Four membership plans to choose from:</p>
            <div class="badge badge-success">Pay As You Go</div>
            <div class="badge badge-info">Monthly</div>
            <div class="badge badge-dark">Quarterly</div>
            <div class="badge badge-warning">Annual</div>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <h4 class="card-header">Movie Management</h4>
            <p class="card-body">No more confusion regarding status of movie availability.</p>
        </div>
        
    </div>
</div>